* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

}

body {
  font-family: 'Courier New', Courier, monospace;
}

nav {
  height: 80px;
  width: 100%;
}

nav ul {
  float: right;
  margin-right: 20px;

}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

button {
  font-family: 'Courier New', Courier, monospace;
}

/* card css********************** */
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: arial;
}

.main {

  margin: 2%;
}

.card {
  width: 20%;
  display: inline-block;
  box-shadow: 2px 2px 20px black;
  border-radius: 5px;
  margin: 2%;
}

.image img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;



}

.title {

  text-align: left;
  padding: 10px;

}

h1 {
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}
p{
  text-align: center;
}

.des {
  padding: 3px;
  text-align: left;
  margin-left: 10px;
  padding-top: 1px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

button {
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

button:hover {
  background-color: black;
  color: white;
  transition: .5s;
  cursor: pointer;
}


/* footer side */
.footer {
  text-align: left;

  padding: 1px;
  background-color: DarkSalmon;
  color: white;
}
.btn{
  margin-left: 80%;
  padding: 10px 10px;

}

.heading{
  background-color: rgb(90, 167, 235);
  text-align: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  margin: 40px 30px;
  padding: 5px 5px 5px 5px;
}
 